<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <title>test</title>
    </head>
    <body><div class="content">
	<div id="heading">
		<div style="width: 100px; float: left;">
			<img src="{{ url_for('static', filename='images/oni.png') }}" style="width:90px; height:90px;">
		</div>
		<div>
			<p>Office of Naval Intelligence<br />
			Naval Special Weapons<br />
			Spartan Records</p>
		</div>
	</div>
	<h2>Last 10 Matches</h2>
        <table border="1" width=100% class="ranktable">
		<tr>
			<th>Game ID</th>
			<th>Player</th>
			<th>Kills</th>
			<th>Deaths</th>
			<th>Assists</th>
		</tr>
    {% for row in tbl1 %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
		</table>
		
	<h2>Top 10 Players</h2>
        <table border="1" width=100% class="ranktable">
		<tr>
			<th>Player</th>
		</tr>
    {% for row in tbl2 %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
		</table>
    </div></body>
</html>